:root {
  /* Couleurs de base */
  --bs-light:      #f0d0dd;
  --bs-dark:       #131311;
  --bs-primary:    #0027e4;
  --bs-secondary:  #435ed5;
  --bs-info:       #989bea;
  --bs-success:    #00ae65;
  --bs-warning:    #e4ce00;
  --bs-danger:     #f51e00;
}

/* Exemple : customiser le texte global */
body {
  background-color: var(--bs-light);
  color: var(--bs-dark);
}
